{% extends 'base.html.twig' %}

{% block title 'registration' %}

{% block body %}

    {# ... #}
    {# this tag only applies to the forms defined in this template #}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    <div class="container mt-4">

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <h1 class="h3 mb-3 font-weight-normal text-center">Connection</h1>
        <div>
            {{ form_row(form.mail, {'label': 'Email','attr':{'placeholder': 'Votre mail'}}) }}
            {{ form_errors(form.mail) }}
        </div>
        <div>
            {{ form_label(form.password, 'Mot de passe') }}
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
        </div>
        <div>
            <button type="submit"  class="btn btn-primary mt-4" >Connection</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}


