{% extends 'base.html.twig' %}

{% block title 'registration' %}



{% block body %}

    {# ... #}
    {# this tag only applies to the forms defined in this template #}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    <div class="container mt-4">

        {{ form_start(form, {'inscription': 'POST'}) }}
            {{ form_errors(form) }}

            <h1 class="h3 mb-3 font-weight-normal text-center">Inscription</h1>
            <div>
                {#{{ form_label(form.username, 'Identifiant') }}#}
                {{ form_row(form.username, {'label':'Identifiant','attr':{'placeholder': 'Identifiant'} }) }}

            </div>
            <div>
                {{ form_row(form.mail, {'label': 'Email','attr':{'placeholder': 'Votre mail'}}) }}
                {{ form_errors(form.mail) }}
            </div>
            <div>
                {{ form_label(form.password, 'Mot de passe') }}
                {{ form_errors(form.password) }}
                {{ form_widget(form.password) }}
            </div>
            <div>
                {{ form_label(form.confirm_password, 'confirmer votre mot de passe') }}
                {{ form_errors(form.confirm_password) }}
                {{ form_widget(form.confirm_password) }}
            </div>

            <div>
                <button type="submit"  class="btn btn-primary mt-4" >Inscription</button>
            </div>

        {{ form_end(form) }}
    </div>



    {#<div class="text-center">#}
    {#<form class="form-signin">#}
        {#<img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">#}
        {#<h1 class="h3 mb-3 font-weight-normal">Inscription</h1>#}
        {#<label for="userName" class="sr-only">Identifiant</label>#}
        {#<input type="text" id="userName" class="form-control" placeholder="Identifiant" required="" autofocus="">#}
        {#<label for="inputEmail" class="sr-only">Email</label>#}
        {#<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">#}
        {#<label for="inputPassword" class="sr-only">Password</label>#}
        {#<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">#}
        {#<div class="checkbox mb-3">#}
            {#<label>#}
                {#<input type="checkbox" value="remember-me"> Remember me#}
            {#</label>#}
        {#</div>#}
        {#<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>#}
        {#<p class="mt-5 mb-3 text-muted">© 2017-2018</p>#}
    {#</form>#}
    </div>

{% endblock %}



{#<div class="text-center">#}
    {#<form class="form-signin">#}
        {#<img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">#}
        {#<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
        {#<label for="inputEmail" class="sr-only">Email address</label>#}
        {#<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">#}
        {#<label for="inputPassword" class="sr-only">Password</label>#}
        {#<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">#}
        {#<div class="checkbox mb-3">#}
            {#<label>#}
                {#<input type="checkbox" value="remember-me"> Remember me#}
            {#</label>#}
        {#</div>#}
        {#<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>#}
        {#<p class="mt-5 mb-3 text-muted">© 2017-2018</p>#}
    {#</form>#}
{#</div>#}
