<div class="jumbotron">
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.maxPrice) }}
        {{ form_row(form.minRoom) }}
        {{ form_row(form.options) }}
        <div class="col">
            <button class="btn btn-primary">Recherche</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>